@model LCore.Models.Contacto

@{
    Layout = "LCoreBase/LCoreViewsBase/_EditBase";
    ViewData["Title"] = "Contactos";
    ViewData["TitleContent"] = "Editando:"+Html.DisplayFor(model => model.GetNombreCompleto); 
}
@section ContentHeader{
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Gestíon de Contactos</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index">Contactos</a></li>
                        <li class="breadcrumb-item active">@Html.DisplayFor(model => model.GetNombreCompleto)</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
}

@section EditContent{
    <form role="form" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="FechaCreado" />
        <input type="hidden" asp-for="FechaEditado" />
        <div class="form-row">                            
            <div class="form-group col-md-6">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">                           
            <div class="form-group col-md-6">
                <label asp-for="TipoIdentificacionId" class="control-label"></label>
                <select asp-for="TipoIdentificacionId" class="form-control" asp-items="ViewBag.TipoIdentificacionId"></select>
                <span asp-validation-for="TipoIdentificacionId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="NumeroIdentificacion" class="control-label"></label>
                <input asp-for="NumeroIdentificacion" class="form-control" />
                <span asp-validation-for="NumeroIdentificacion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="LocalidadId" class="control-label"></label>
                <select asp-for="LocalidadId" class="form-control" asp-items="ViewBag.LocalidadId"></select>
                <span asp-validation-for="LocalidadId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ImagenId" class="control-label"></label>
                <select asp-for="ImagenId" class="form-control" asp-items="ViewBag.ImagenId"></select>
                <span asp-validation-for="ImagenId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Nota" class="control-label"></label>
                <input asp-for="Nota" class="form-control" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                </label>
            </div>
        </div>
        <div class="form-row float-sm-right">
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Volver</a>
            </div>
        </div>
    </form>
}