@{
    Layout = "LCoreBase/LCoreLayoutBase/_BaseLCore";
    ViewData["Title"] = @ViewData["Title"];
}
@section ContentHeader{

  @RenderSection("ContentHeader",required:false)  
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title"> @ViewData["TitleContent"]</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                       @RenderSection("EditContent",required:false)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>